<div>
    <h1>  Que anda {{user}} </h1>
    <h2> Tu lista de items es </h2>
        {{#if limit}}
            {{#each productsFiltered}}
                <tr>
                    <td> {{this.title}} </td> 
                    <td> ${{this.price}} </td>
                    <td> {{this.description}} </td>
                </tr> <br>
            {{/each}}
        {{else}}
            {{#if pid}}
                    <tr>
                        <td> {{objeto.title}} </td>
                        <td> ${{objeto.price}} </td>
                        <td> {{objeto.description}} </td>
                    </tr> <br>
            {{else}}
                {{#each productos}}
                    <tr>
                        <td> {{this.title}} </td>
                        <td> ${{this.price}} </td>
                        <td> {{this.description}} </td>
                    </tr> <br>
                {{/each}}
            {{/if}}
        {{/if}}
</div>