<div>
    <h1>  Que anda {{user}} </h1>
    <h2> Tu lista de items es </h2>
    <table>
        {{#if limit}}
            {{#each productsFiltered}}
            <tbody>
                <tr>
                    <td> {{this.title}} </td> 
                    <td> ${{this.price}} </td>
                    <td> {{this.description}} </td>
                </tr> 
            </tbody>
            {{/each}}
        {{else}}
            {{#if pid}}
            <tbody>
                <tr>
                    <td> {{objeto.title}} </td>
                    <td> ${{objeto.price}} </td>
                    <td> {{objeto.description}} </td>
                </tr> 
            </tbody>
            {{else}}
                {{#each productos}}
                <tbody>
                    <tr>
                        <td> {{this.title}} </td>
                        <td> ${{this.price}} </td>
                        <td> {{this.description}} </td>
                    </tr>
                </tbody>
                {{/each}}
            {{/if}}
        {{/if}}
    </table>
</div>